.home{
    background-image: url(./images/blackman.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    width: 100%;
    

}

#name{
    color: whitesmoke;
}
#par1{
    color: wheat;
    margin-top: 1000px;
    padding: 0px 200px 0px 0px;
}
h2{
    text-align: center;
}
#image1{
    margin-right: 50%;
    margin-left: 40%;
}
body{
    background-color: burlywood;
}
nav{
    position: fixed;
}

a{
    color: whitesmoke;
    /* padding: 40px; */
    text-decoration: navajowhite;
    float: right;
    /* display: block; */
    text-align: center;
    padding: 30px;
    font-size: 15px;
}
#frank{
    float: right;
}
#hd{
    text-decoration: underline;
}