#index{
    background-image: url(./images/blackman.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    width: 100%;
    

}

#name{
    color: whitesmoke;
}
#par1{
    color: wheat;
    margin-top: 1000px;
    padding: 0px 200px 0px 0px;
}
h2{
    text-align: center;
}
#image1{
    margin-right: 50%;
    margin-left: 40%;
}
body{
    background-color: burlywood;
}
nav{
    position: fixed;
}

a{
    color: whitesmoke;
    /* padding: 40px; */
    text-decoration: navajowhite;
    float: right;
    /* display: block; */
    text-align: center;
    padding: 30px;
    font-size: 15px;
}
#frank{
    float: right;
}
#hd1{
    text-decoration: underline;
}
/* #projos{
    display: inline;
} */
#hd2{
    text-decoration-line: underline;

}
.row{
    display: flex;
}
#contacts{
    background-image: url(./images/contacts.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
}
#last{
    padding: 0px 0px 0px 37%;
    font-size: 40px;
    color: wheat;
}
#social{
    text-align: center;
    left: 300px;
    right: 300px;
    padding: 0px 500px 1000px 200px;
}
#final{
    padding: 0px 0px 0px 37%;
    color: wheat;
}
#ray{
    padding: 0px 0px 0px 44%;
}
#projo1{
    border: 1px dotted black;
    /* margin-top: 100px; */
    /* margin-bottom: 500px; */
    margin-right: 150px;
    margin-left: 80px;
}
#projo2{
    border: 1px dotted black;
    /* margin-top: 100px; */
    /* margin-bottom: 100px; */
    margin-right: 150px;
    margin-left: 80px;
}
#link2{
    padding: 0px 200px 2000px;
}
/* #link1{
    padding: 1000px 200px 2000px; 
} */

